body{
    background-image: url("library.jpeg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: black;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.newbook{
    border: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px;
    padding:10px;
    background-color: rgb(147, 151, 150);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.newbook:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) ;
}
.homepage{
    display: grid;
    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 25px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    background-color: grey;
    row-gap: 10px;
}
.signupform{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.label1{
    display: flex;
    column-gap: 10px;
}
.label2>button{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    padding: 5px;
}

.label2>button:hover{
    background-color: rgb(204, 13, 13);
    box-shadow: 5px 5px 5px black;
}

.texts{
    position: relative;
}


.texts>p:nth-child(1)
{
position: absolute;
top:-5px;
left:30px;
font-weight: bolder;
}

.texts>p:nth-child(2)
{
   position: absolute;
    top:25px;
    left:5px;
}

.texts>p:nth-child(3)
{
    position: absolute;
    top:50px;
    left:5px;
}

.divs{
    height: 100px;
    width: 225px;
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    margin: 10px;
}

   .cards{
   display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
   }
/*
.cards>header{
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    position: absolute;
    left:50px;
    top:5px;
}

.cards>p:nth-child(3){
    position: absolute;
    top:40px;
    left: 5px;
}

.cards>p:nth-child(2){
    position: absolute;
    top:20px;
    left: 5px;
}