body{
    background-image: url("library.jpeg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: black;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.newbook{
    border: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px;
    padding:10px;
    background-color: rgb(147, 151, 150);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.newbook:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) ;
}
.homepage{
    display: grid;
    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 25px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    background-color: grey;
    row-gap: 10px;
}
.signupform{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.label1{
    display: flex;
    column-gap: 10px;
    position: relative;
}

.label2>button{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.label2>button:hover{
    background-color: rgb(15, 15, 15);
    box-shadow: 3px 3px 3px black;
    color: #ccc;
}

.texts{
    position: relative;
}
.texts>p:nth-child(2)
{
position: absolute;
top:-5px;
left:30px;
font-weight: bolder;
}

.texts>p:nth-child(3)
{
   position: absolute;
    top:25px;
    left:10px;
}

.texts>p:nth-child(4)
{
    position: absolute;
    top:50px;
    left:10px;
}

.divs{
    height: 100px;
    width: 287px;
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    margin: 10px;
}

   .cards{
   display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    position: relative;
   }

.texts>img{
    left: 245px;
    top:64px;
    position: absolute;
}
.toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left:215px;
  top:6px;
}
.toggle-checkbox{
  position: absolute;
  visibility: hidden;
}

input[type="checkbox"]
{
  position: absolute;
  visibility: hidden;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: rgb(14, 13, 13);
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
